sentencepiece>=0.2.0
subword-nmt>=0.3.8
sacremoses>=0.0.53
transformers>=4.51.3
safetensors>=0.5.3
unbabel-comet>=2.2.6
protobuf>=6.30.2
zstandard>=0.23.0
Cython>=3.0.12
Flask>=3.1.0
jieba>=0.42.1
PyNLPIR>=0.6.1
OpenCC>=1.1.9
